<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Online Library</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/showbook/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/showbook/css/4-col-portfolio.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Online Library</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/reader/login">Log in</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/staff/manage/book">Manage</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/reader/personalinfo">User Profile</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading -->
      <h1 class="my-4">Online Library
        <small>dive into books</small>
      </h1>

      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="/book/novel"><img class="card-img-top" src="/static/showbook/novel.jpg" height=400 alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="/book/novel">Novel</a>
              </h4>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="/book/poetry"><img class="card-img-top" src="/static/showbook/poem.jpg" height=400 alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="/book/poetry">Poetry</a>
              </h4>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="/book/history"><img class="card-img-top" src="/static/showbook/history.jpg" height=400 alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="/book/history">History</a>
              </h4>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="/book/philosophy"><img class="card-img-top" src="/static/showbook/philosophy.jpg" height=400 alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="/book/philosophy">Philosophy</a>
              </h4>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="/book/drama"><img class="card-img-top" src="/static/showbook/love%20stories.jpg" height="400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="/book/drama">Drama</a>
              </h4>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="/book/adventure"><img class="card-img-top" src="/static/showbook/adventure.jpg" height="400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="/book/adventure">Adventure</a>
              </h4>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="/book/detective"><img class="card-img-top" src="/static/showbook/detective.jpg" height="400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="/book/detective">Detective</a>
              </h4>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="/book/biography"><img class="card-img-top" src="/static/showbook/biography.jpg" height="400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="/book/biography">Biography</a>
              </h4>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->


    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Iris 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/static/showbook/vendor/jquery/jquery.min.js"></script>
    <script src="/static/showbook/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
